<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="endpoints" type="System.Configuration.NameValueSectionHandler" />
  </configSections>  
  <appSettings>
    <add key="ApiUrl" value="https://demo.ivsign.net/Keyman/"/>
    <add key="orgaid" value="SECTURE"/>
    <add key="login" value="admin"/>
    <add key="pass" value="Signaturit.2025"/>
    <add key="module" value="swagger"/>
    <add key="certpin" value="Abc123"/>
    <add key="certid" value="AAAIOJUIZPBHRHUOEA"/>
    <add key="savesigneddocs" value="true"/>
    <add key="ouputdirectory" value="C:\Work\Z_TestFiles"/>
  </appSettings>
  <endpoints>
    <add key="TOKEN" value="/rest/v6/auth/login" />
    <add key="CERTIFICATE" value="/rest/v6/cert/list" />
    <add key="SIGN_PADES" value="/rest/v6/signature/pades" />
    <add key="SIGN_XADES" value="/rest/v6/signature/xades" />
    <add key="SIGN_CADES" value="/rest/v6/signature/cades" />
    <add key="VERIFY_PADES" value="/rest/v6/verify/pades" />
    <add key="VERIFY_XADES" value="/rest/v6/verify/xades" />
    <add key="VERIFY_CADES" value="/rest/v6/verify/cades" />
  </endpoints>
</configuration>