<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="endpoints" type="System.Configuration.NameValueSectionHandler" />
    <section name="documents" type="System.Configuration.NameValueSectionHandler" />
  </configSections>  
  <appSettings>
    <add key="ApiUrl" value="https://demo.ivsign.net/Keyman/"/>
    <add key="orgaid" value="SECTURE"/>
    <add key="login" value="admin"/>
    <add key="pass" value="Signaturit.2025"/>
    <add key="module" value="swagger"/>
  </appSettings>
  <endpoints>
    <add key="TOKEN" value="/rest/v6/auth/login" />
    <add key="CERTIFICATE" value="/rest/v6/cert/list" />
    <add key="SIGN_PADES" value="/rest/v6/signature/pades" />
    <add key="SIGN_XADES" value="/rest/v6/signature/xades" />
    <add key="SIGN_CADES" value="/rest/v6/signature/cades" />
  </endpoints>
  <documents>
    <add key="cades.txt" value="cades"/>
    <add key="pades.pdf" value="pades" />
    <add key="pades40.pdf" value="pades" />
    <add key="pades60.pdf" value="pades" />
    <add key="xades.xml" value="xades" />
  </documents>
</configuration>