<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="endpoints" type="System.Configuration.NameValueSectionHandler" />
  </configSections>  
  <appSettings>
    <add key="ApiUrl" value="https://demo.ivsign.net/Keyman/"/>
    <add key="orgaid" value="SECTURE"/>
    <add key="login" value="admin"/>
    <add key="pass" value="Signaturit.2025"/>
    <add key="module" value="swagger"/>
  </appSettings>
  <endpoints>
    <add key="TOKEN" value="/rest/v6/auth/login" />
    <add key="CERTIFICATIONS" value="/rest/v6/data/query" />
  </endpoints>
</configuration>